<div class="wrapper">
	<div class="row">
		<h1>Aufgabe bearbeiten</h1>
	</div>
	<div class="row form">

		<div class="col-2-of-12">
			<%= render "./admin/shared/sidebar" %></div>
		

		<div class="col-10-of-12">
			<%= render 'form', task: @task %>
		</div>
	</div>
</div>
