		<div class="cite">
			<p class="cite__text">
				Die Akademie richtet sich erstens an Medienmenschen, die Reflexion und Austausch wünschen oder handwerkliche Fähigkeiten erwerben, verbessern oder auffrischen wollen, und zweitens an alle, die nach Kriterien für die Bewertung öffentlich zugänglicher Texte suchen und damit nach einem Weg zur Selbstbestimmung und Autonomie. 
			</p>
		</div>