<div class="nav">
	<div class="nav__content">
	<div class="nav__logo"></div>
		<ul class="nav__items">
			<li>Studiengänge</li>
			<li>Lehrgänge</li>
			<li>Akademie-Blog</li>
			<li>Medien +</li>
			<li class="nav__items--right">Mein Bereich</li>
		</ul>
	</div>
</div>