<div class="wrapper">

	<%= render "shared/nav" %>

	<div class="row">
		<div class="col-1-of-12">&nbsp;</div>
		<div class="col-9-of-12">
			<div class="textheader">
				<div class="bg__spacer">
					<h1><span class="bg bg__blue">Newsletter</span></h1>
				</div>
	
			</div>
			<div class="breadcrumb"><%= link_to 'Home', root_path %> > <%= link_to 'Newsletter', newsletter_path %></div>
		</div>
	</div>

	<div class="space__small">&nbsp;</div>

	<div class="row">
		<div class="col-1-of-12">&nbsp;</div>
		<div class="col-9-of-12">
			<iframe width="540" height="720" src="https://53096690.sibforms.com/serve/MUIFAM7qH_yQM1omeHdPIwLUHGrA_Mw_L84u_j_m1YWlwAhdYxyKTHb2mgZ7cm0YfiOFDBd2wdyGnsDyjciRzLx3rKatbhX16cVNxP2hUzwlYAHGdqrd2DAJZGLCTp6tSnogvPz946VTOfaYzHn1h1EngHcITDb4-SXujdajc8cyywTsGxhPoP_lwaDzpx3dVdkTiX3lS49yPnfM" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
		</div>		
	</div>

	<div class="space">&nbsp;</div>

	<div class="wrapper wrapper__inner">
		<%= render "shared/footer" %>
	</div>

</div>