<div class="wrapper">

	<%= render "shared/nav" %>

	<div class="row">
		<div class="col-1-of-12">&nbsp;</div>
		<div class="col-9-of-12">
			<div class="textheader">
				<div class="bg__spacer">
					<h1><span class="bg bg__blue">Newsletter</span></h1>
				</div>
	
			</div>
			<div class="breadcrumb"><%= link_to 'Home', root_path %> > <%= link_to 'Newsletter', newsletter_path %></div>
		</div>
	</div>

	<div class="space__small">&nbsp;</div>

	<div class="row">
		<div class="col-1-of-12">&nbsp;</div>
		<div class="col-9-of-12">
			<iframe width="540" height="760" src="https://53096690.sibforms.com/serve/MUIFABIz0J_72dj9p2pBE_6C7oXvA3Jc_pXEMC3qYqx7LUR0otcBGQ-0Bi2XFShX1t_uVHslhUp3okx8L0Ho766eBNtiif4fCq4odhRmaAbQLYrxH5ZFo0ZByRIsXGtTMUFVm0R9zPLa8dIEpVu7fLBc_zFDRRePdBUj3EiGekEccqgquMVtWxj2uXLfMMh-Ph6vUDcTfVQ-fR0r" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
		</div>		
	</div>

	<div class="space">&nbsp;</div>

	<div class="wrapper wrapper__inner">
		<%= render "shared/footer" %>
	</div>

</div>