<div class="wrapper">
	
		<%= render "shared/nav" %>

	<div class="row">
		<div class="col-1-of-12">&nbsp;</div>
		<div class="col-9-of-12">
			<div class="image__header mt--10">
				<h1>
					<span class="bg bg__blue">Antje Meyen</span>
				</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-2-of-12">&nbsp;</div>
		<div class="col-9-of-12">
			<div class="row">
				<div class="col-4-of-9">
					<div class="breadcrumb mb--6"><%= link_to 'Home', root_path %> > <%= link_to 'Antje Meyen', portrait_antje_path %></div>
					<div class="mb--5">
						<p class="intro">Mein Mann Michael und ich haben den Journalismus von der Pike auf gelernt – erst in einem Tagespresse-volontariat, dann in einem universitären Trainingssystem und schließlich dort, wo heute Medienrealität entsteht. Das meint nicht nur Redaktionen, Rundfunkanstalten oder Verlage, sondern auch die Ausbildung. Das Akademiekonzept bündelt die Erfahrungen, die wir in Praxis und akademischer Lehre gesammelt haben.
						</p>
					</div>
					<div>
						<ul class="facts">
							<li>Diplomjournalistin (1992)</li>
							<li>Leitende Redakteurin/Projektmanagerin</li>
							<li>Expertiese in allen Print- und Onlineformaten</li>
							<li>Viele Jahre Lehrbeauftragte an der LMU München</li>
						</ul>
					</div>
				</div>

				
				<div class="col-3-of-9">
					
					
				</div>
			</div>
		</div>
	</div>	


	<div class="space">&nbsp;</div>

	<div class="wrapper wrapper__inner">
		<%= render "shared/footer" %>
	</div>


</div>