.form
	table
		border-collapse: separate
		border-spacing: 30px 10px
		tr
			th
				text-align: left

	&__field
		margin-bottom: 20px 
		&--image__preview
			img
				width: auto 
				height: 500px 

label
	width: 120px
	display: inline-block
	vertical-align: top
	
input
	width: 200px
	display: inline-block
	
	&__field
		&--large
			textarea
				width: 600px
				height: 800px
		
			
.simple_form_markdown_editor__editor			
	textarea
		width: 800px
		height: 800px    
		

textarea#article_teaser, textarea#article_intro, textarea#article_sources
	width: 680px 
	height: 100px 

textarea#task_article_text, textarea#article_text
	width: 680px
	height: 800px
select#article_column_ids
	height: 100px 
	width: 100px
	
	

.article__form
	input
		width: 680px 
	
	.form__field	
		select
			option
				&:selected, &:checked
					color: white
					background: orange  		
input.boolean
	width: 20px 
	margin-bottom: $gutter-2x 
	
table
	tr
		th
			text-align: left
