.form
	table
		border-collapse: separate
		border-spacing: 30px 10px
		tr
			th
				text-align: left

	&__field
		margin-bottom: 20px 

label
	width: 120px
	display: inline-block
	
input
	width: 200px
	display: inline-block  