*
	margin: 0
	padding: 0
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box  
	color: $blue 	
	font-family: din 
	scroll-margin-top: 100px


body
	background: $tan 
	
.wrapper
	position: relative
	display: block
	max-width: 1920px
	margin: auto 
	position: relative

	&__inner
		max-width: 1640px 

a
	text-decoration: none 
	
img
	width: 100%  
	

hr
	color: #777
	margin: $gutter-4x 0  
	
html
	scroll-behavior: smooth
	

.space
	height: 120px
	@media screen and (max-width: $v-medium) 
		height: 100px  
	@media screen and (max-width: $v-smaller) 
		height: 60px  
	@media screen and (max-width: $v-small) 
		height: 40px  				
		
	&--smaller
		height: 60px
		@media screen and (max-width: $v-medium) 
			height: 50px  
		@media screen and (max-width: $v-smaller) 
			height: 30px  
		@media screen and (max-width: $v-small) 
			height: 20px  					

		
	&--small
		height: 30px
		@media screen and (max-width: $v-medium) 
			height: 25px  
		@media screen and (max-width: $v-smaller) 
			height: 15px  
		@media screen and (max-width: $v-small) 
			height: 10px  					