.button
	display: inline-block
	padding: 15px 0
	width: 240px 
	text-align: center
	text-transform: uppercase
	font-size: 14px
	line-height: 17px  
	font-family: din-bold 
	a
		font-size: 14px
		line-height: 17px  
		font-family: din-bold 	
	&__blue
		background: $blue  
		color: #FFF 
		&:hover
			text-decoration: underline 
	&__blue-l
		background: $blue-l
		color: #FFF 
		&:hover
			text-decoration: underline 			
	&__white
		background: $blue
		color: #FFF
		border: 3px solid #fff
		&--transparent
			background: transparent 
	
	&__black
		background: #000
		color: #FFF
		border: 3px solid #fff
		&:hover
			background: $yellow
			border: 3px solid $yellow       
	&__yellow
		background: $yellow
		color: #FFF
		border: 3px solid #fff
		&--outline
			background: #FFF
			border: 1px solid $yellow
			color: $blue  
			a
				color: $blue  
			&:hover
				background: $yellow
				a
					color: #FFF  