.step
	&__headline
		font-size: 96px
		line-height: 144px  
		font-family: din-bold 
		text-transform: uppercase
		@media screen and (max-width: $v-medium) 
			font-size: 72px 
			line-height: 96px 
		@media screen and (max-width: $v-smaller) 
			font-size: 56px 
			line-height: 72px
		@media screen and (max-width: $v-small)
			font-size: 96px  
			line-height: 112px
	&__subheadline
		font-family: courier-bold
		font-size: 20px
		line-height: 40px
		padding: 2px 12px 
		text-shadow: 0px 3px 6px #00000052
		@media screen and (max-width: $v-small)
			font-size: 40px 
			padding: 4px 18px 0px 18px 
		&--blue
			background: $blue
			color: #FFF 
		&--blue-light
			background: $blue-l
			color: #FFF  
		&--yellow
			background: $yellow
			color: #FFF  
		&--green
			background: $green
			color: #FFF  
		&__right
			text-align: right

		
		   
	&__textblock
		&--headline
			font-size: 32px
			line-height: 42px
			font-family: din-bold   
			margin-bottom: $gutter-2x 
		&--text
			font-size: 16px
			line-height: 28px
			font-family: din   
			max-width: 540px 