//GRID

$grid-width: 192rem; // 1920px
$gutter-vertical: 4rem; // 40px
$gutter-horizontal: 4rem; // 40px
$gutter-1x: 0.8rem; //10px
$gutter-2x: 1.6rem; //10px
$gutter-3x: 2.4rem; //10px
$gutter-4x: 3.2rem; //10px
$gutter-5x: 4rem; //50px
$gutter-6x: 4.8rem; //50px
$gutter-7x: 5.6rem; //50px
$gutter-8x: 6.4rem; //50px
$gutter-9x: 7.2rem; //50px
$gutter-10x: 8rem; //50px


$blue: #091D4B;
$blue-l: #81A4CD;
$yellow: #FFB60A;
$green: #BDD9BF;
$grey-d: #777;
$tan: #F8F7F5;

$v-medium: 1200px;
$v-smaller: 1000px;
$v-small: 600px;