<div class="wrapper">
	<div class="row">
		<h1>Artikel bearbeiten</h1>
	</div>
	<div class="row form">

		<div class="col-2-of-12">
			<% if signed_in? && current_user.role == 'admin'%>
				<%= render "./admin/shared/sidebar" %>
					<% else %>
						<%= link_to 'Zurück zum Klassenzimmer', classroom_path %>	
			<% end %></div>
		

		<div class="col-10-of-12">
			<%= render 'form', task_article: @task_article %>
		</div>
	</div>
</div>
